<div class="container">

<h3 class="title is-3">New  Poll</h3>
<div class="container">
<%= render "form.html", Map.put(assigns, :action, Routes.poll_path(@conn, :create)) %>
</div>
<span><%= link "Back", to: Routes.page_path(@conn, :index), class: "button is-small is-primary" %></span>
</div>

