/* This file is for your main application css. */

html{
    min-height: 100vh;
    overflow: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

#main-layout {
    flex: 1 0;
}

#footer-layout {

    height: 30px;
}


.columns.is-right {
    justify-content: flex-end;
}

#back-container{
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid hsl(0, 0%, 86%);
}

#new-option-wrapper{
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid hsl(0, 0%, 86%);
}

.poll-header
{
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(0, 0%, 86%);
}

@media screen and (max-width: 1024px)
{
    .container {
        padding: .5rem .75rem;
    }
}
