config :ueberauth, Ueberauth.Strategy.Facebook.OAuth,
  client_id: System.env("fb-client-id"),
  client_secret:System.env("fb-client-secret"),
  redirect_uri: "http://localhost:4000/auth/facebook/callback"
