<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voting · Phoenix Framework</title>
 
  
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>

 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
       <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css")  %>"/>
  </head>
  <body>
    <div id="main-layout">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="https://bulma.io/images/bulma-logo.png"
            width="112"
            height="28"
          />
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <%= if @current_user do %>
          <a class="button is-dark is-small" href="/auth/logout">
            Logout
          </a>
          <% else %>
          <a class="button is-link is-small" href="/auth/facebook">
            Login With Facebook
          </a>
          <% end %>
        </div>
      </div>
    </nav>
  <%= render @view_module, @view_template, assigns %>
  </div>
  <div id="footer-layout">
    <div class="container">
        <h6 class="is-6 is-title has-text-centered"> Implement by <a href="http://pearl2201.com" class="is-link">pearl.2201</a></h6>
        </div>
  </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
